{% include 'base.html' %}

{% block content %}

	{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissable" role="alert">
			<button class="close" data-dismiss="alert">
				<small><sup>x</sup></small>
			</button>
			{{ message }}
		</div>
	{% endfor %}
	{% endif %}

	{% if user.is_authenticated %}
        {% include 'playlist.html' %}
    {% else %}

    <div class="container">
  		<div class="jumbotron">

        <h1>PlaylistPy</h1>
        <p>Not a wrapper class or anything of the sort. The name is decieving.</p>
        <p>PlaylistPy lets you manipulate Spotify playlists you follow. You copy a playlist you like, remove songs you do not like, add songs you do. All the while, you're able to update the playlist whenever the creator adds new songs, without loosing your customization!</p>
        <p>To get started, please log in.</p>
        <p><a href="{% url 'social:begin' 'spotify' %}" class="header-link">
        	<button type="button" class="btn btn-outline-success">Spotify</button>
        </a></p>
    </div>
</div>
	{% endif %}
	<br>


{% endblock %}